/* Universal Values */
:root{
    --purple : #854dff;
    --lightRed : #ff5757;
    --white : #fafafc;
    --offWhite : #f0f0f0;
    --lightGray :  #dbdbdb;
    --smokeyGray : #716f6f;
    --offBlack : #141414;
}

/* Fonts */
@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-ExtraBold.ttf);
    font-weight: 800;
}

/* Body */
body{
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    background: var(--offWhite);
    font-family: "Poppins";
}

/* Main container */
.container{
    box-sizing: border-box;
    background: var(--white);
    width: calc(100% - 30px);
    border-radius: 25px 25px 100px 25px;
    padding: 4.5rem 2rem 2rem 2rem;
    position: relative;
    max-width: 375px;
    transition: all .3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Date Input  */
.dateInput{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}
.dateInput .input{
    width:33.3%;
    margin: 0 8px;
    position: relative;
}
.dateInput .input::before{
    display: inline-block;
    content: 'DAY';
    position: absolute;
    top: -45%;
    left: 0;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--smokeyGray);
}
.dateInput .input.month::before{
    content: 'MONTH';
}
.dateInput .input.year::before{
    content: 'YEAR';
}

.dateInput .input input{
    box-sizing: border-box;
    width: 100%;
    border: 1.5px solid var(--lightGray);
    border-radius: 10px;
    padding: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}


/* User Input Error State */
input.error{
    box-sizing: border-box;
    border: 2px solid var(--lightRed)!important;
    background: rgba(255, 0, 0, 0.05);
    outline: none;
    color: var(--lightRed);
}


/* Remove Arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Check Age */
.checkAge{
    display: flex;
    justify-content: center;
    position: relative;
}
.checkAge::before{
    height: 1px;
    width: 100%;
    background: var(--lightGray);
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* Submit Button */
.submitBtn{
    background: var(--purple);
    border: 0;
    border-radius: 100%;
    height: 4rem;
    aspect-ratio: 1/1;
    position: relative;
    margin: 2rem 0;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.submitBtn img{
    height: 1.3rem;
}


/* Total Age */
.totalAge{
    padding:0 .5rem;
}
.totalAge span{
    color: var(--purple);
    font-style: normal;
}
.totalAge h1{
    margin: 0;
    font-size: 3.2rem;
    font-weight: 800;
    font-style: italic;
    line-height: 1.2;
}

/* Resposive */
@media screen and (min-width:768px){
    /* Container */
    .container{
        max-width: 650px;
    }
    /* Submit button */
    .checkAge{
        justify-content: end;
    }
    /* Total Age */
    .totalAge h1{
        font-size: 3.5rem;
    }
}