/* Universal Values */
:root{
  /* Colors */
  --darkCyan: #3c8067;
  --cream : #f2ebe3;
  --darkBlue : #1c232b;
  --grayishBlue : #6c7289;
  --white : #fafafc;
}

/* Font */
@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Regular.ttf");
  font-weight:400;
}
@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Bold.ttf");
  font-weight:700;
}
@font-face {
  font-family: Fraunces;
  src: url("fonts/Fraunces-Bold.ttf");
  font-weight:700;
}

/* Body */
body{
  font-family: Montserrat;
  font-weight: 400;
  margin:0;
  padding:0;
  box-sizing: border-box;
  height: 100dvh;
  width:100dvw;
  background: var(--cream);
  display:grid;
  place-items: center;
  padding:40px 20px;
}

/* Main Container */
.container{
  height: auto;
  width: 100%;
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

/* Section One */
.sectionOne{
  height:auto;
  width:100%;
  box-sizing: border-box;
  background: red;
  position: relative;
  overflow: hidden;
}

/* Product Image */
.productImage{
  background: url("images/product-image.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 4/3;
  transition: all .3s ease;
}
.productImage:hover{
  transform: scale(1.2);
}

/* Product Label */
.productLabel{
  display: block;
  position:absolute;
  background:rgba(0, 0, 0, 0.2);
  border: 0px solid var(--cream);
  color: var(--cream);
  backdrop-filter: blur(5px);
  padding: 6px 10px;
  box-sizing:border-box ;
  border-radius: 5px;
  z-index: 2;
  bottom: 10px;
  left :10px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
}

/* Section Two */
.sectionTwo{
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 30px 20px 40px 20px;
}

/* Product Title */
.productTitle{
  margin: 0;
  font-family: Fraunces;
  font-weight: 700;
  font-size:2rem;
  letter-spacing: 1px;
  color: var(--darkBlue);
}
.productTitle:hover{
  text-decoration: underline;
}

/* Product Description */
.productDesc{
  color: var(--grayishBlue);
  font-family: Montserrat;
  line-height:1.5;
}

/* Product Price */
.price{
  margin:30px 0 15px 0;
}
.price .currentPrice{
  font-size: 2.2rem;
  font-family:Fraunces;
  font-weight: 700;
  color: var(--darkCyan);
}
.price .originalPrice{
  font-family:Montserrat;
  text-decoration: line-through;
  color: var(--grayishBlue);
  margin: 0 5px;
}

/* Add To Cart Button */
button.addToCart{
  border:0;
  padding: 15px;
  width: 100%;
  height: auto;
  background: var(--darkCyan);
  color: var(--white);
  border-radius: 10px;
  font-size:16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}
button.addToCart:hover{
  background:var(--darkBlue);
}
button.addToCart .icon{
  margin: 0 10px 0 0;
}

/* Responsive */
@media screen and (min-width:480px){
  .container{
    display: flex;
    max-width: 600px;
  }
  .productImage{
    height: 100%;
  }
  .productLabel{
    top: 10px;
    bottom: auto;
  }
}